[Unit]
Description=Run Nginx watchdog every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=nginx-watchdog.service

[Install]
WantedBy=timers.target
